<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('css/shape.css') }}" rel="stylesheet"/>
        <title>Shape Calculator</title>
        {% block stylesheets %} 
            <link href="{{ asset('css/shape.css') }}" rel="stylesheet"/>
        {% endblock %} 

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script> 
            <script src="{{ asset('js/slider.js') }}"></script> 
        {% endblock %} 
    </head>
    <body>
        <div id="page-wrapper">
            <h1>Shape Calculator</h1>

            <h2>{{ subtitle }}</h2>

            {%block body %}{% endblock %}
        </div>
    </body>
</html>
